################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/DemoAPI/bin/Debug/netcoreapp3.1
/Code/DemoAPI/obj
/Code/StckMarket.Models/bin/Debug/netcoreapp3.1
/Code/StckMarket.Models/obj
/Code/StockMarket.AdminService/bin/Debug/netcoreapp3.1
/Code/StockMarket.AdminService/obj
