################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/DemoAPI/bin/Debug/netcoreapp3.1
/Code/DemoAPI/obj
/Code/StckMarket.Models/bin/Debug/netcoreapp3.1
/Code/StckMarket.Models/obj
/Code/StockMarket.AdminService/bin/Debug/netcoreapp3.1
/Code/StockMarket.AdminService/obj
/Code/StockMarket.ApiGateway/obj
/Code/StockMarket.AuthService/bin/Debug/netcoreapp3.1
/Code/StockMarket.AuthService/obj
/Code/StockMarket.ApiGateway/bin/Debug/netcoreapp3.1
/Code/NUnitTests.Unit/bin/Debug/netcoreapp3.1
/Code/NUnitTests.Unit/obj
/Code/StockMarket.Dtos/bin/Debug/netcoreapp3.1
/Code/StockMarket.Dtos/obj
/Code/StockMarket.Tests.Unit/bin/Debug/netcoreapp3.1
/Code/StockMarket.Tests.Unit/obj
